## One of the most popular NoSQL database is MongoDB
NoSQL databases (aka "not only SQL") are non-tabular databases and store data differently than relational tables.

## MongoDB, the world's most popular NoSQL database according to DB-Engines.

## What is a NoSQL database?
When people use the term “NoSQL database,
” they typically use it to refer to any non-relational database.
Some say the term “NoSQL” stands for “non SQL” while others say it stands for “not only SQL.” 
Either way, most agree that NoSQL databases
are databases that store data in a format other than relational tables.
NoSQL databases allow developers to store huge amounts of unstructured data, giving them a lot of flexibility.

## features of NoSQL
#Flexible schemas
#Horizontal scaling
#Fast queries due to the data model
#Ease of use for developers

## Over time, four major types of NoSQL databases emerged: document databases, key-value databases, wide-column stores, and graph databases.

Document databases store data in documents similar to JSON (JavaScript Object Notation) objects. Each document contains pairs of fields and values. The values can typically be a variety of types including things like strings, numbers, booleans, arrays, or objects.
Key-value databases are a simpler type of database where each item contains keys and values.
Wide-column stores store data in tables, rows, and dynamic columns.
Graph databases store data in nodes and edges. Nodes typically store information about people, places, and things, while edges store information about the relationships between the nodes.

## Difference between RDBMS and NoSQL databases
While a variety of differences exist between relational database management systems (RDBMS) and NoSQL databases, 
one of the key differences is the way the data is modeled in the database.
In this section, 
we'll work through an example of modeling the same data in a relational database and a NoSQL database.
Then, we'll highlight some of the other key differences between relational databases and NoSQL databases.

## When should NoSQL be used?
When deciding which database to use, decision-makers typically find one or more of the following factors lead them to selecting a NoSQL database:

Fast-paced Agile development
Storage of structured and semi-structured data
Huge volumes of data
Requirements for scale-out architecture
Modern application paradigms like microservices and real-time streaming

## NoSQL database misconceptions
Over the years, many misconceptions about NoSQL databases have spread throughout the developer community. In this section, we'll discuss two of the most common misconceptions:

Relationship data is best suited for relational databases.
NoSQL databases don't support ACID transactions.

## MongoDB stores data in JSON-like documents, which makes the database very flexible and scalable.

##                    PyMongo
Python needs a MongoDB driver to access the MongoDB database.

In [2]:
!python -m pip install pymongo

Collecting pymongo
  Downloading pymongo-4.0.1-cp38-cp38-win_amd64.whl (354 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.0.1

In [1]:
#test installation
import pymongo

## Python MongoDB Create Database

## Creating a Database
To create a database in MongoDB, start by creating a MongoClient object, then specify a connection URL with the correct ip address and the name of the database you want to create.

In [2]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mongodb"]

## Important: In MongoDB, a database is not created until it gets content!

###### MongoDB waits until you have created a collection (table), with at least one document (record) before it actually creates the database (and collection).

In [3]:
print(myclient.list_database_names())

['admin', 'config', 'local']

In [4]:
dblist = myclient.list_database_names()
print(dblist)
if "mongodb" in dblist:
  print("The database exists.")

['admin', 'config', 'local']

In [5]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]

mycol = mydb["customers"]

# Important: In MongoDB, a collection is not created until it gets content!

MongoDB waits until you have inserted a document before it actually creates the collection.

In [6]:
print(mydb.list_collection_names())

[]

In [7]:
collist = mydb.list_collection_names()
if "customers" in collist:
  print("The collection exists.")

# A document in MongoDB is the same as a record in SQL databases.

Insert Into Collection

#### To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.

The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

In [8]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [9]:
print(x)

<pymongo.results.InsertOneResult object at 0x000002AE11146280>

# Return the _id Field
The insert_one() method returns a InsertOneResult object, which has a property, inserted_id, that holds the id of the inserted document.

In [10]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

61eb832dc144dcdaae9067ca

#### If you do not specify an _id field, then MongoDB will add one for you and assign a unique id for each document.

In the example above no _id field was specified, so MongoDB assigned a unique _id for the record (document).

In [11]:
# Insert Multiple Documents
# To insert multiple documents into a collection in MongoDB, we use the insert_many() method.

# The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('61eb83a7c144dcdaae9067cb'), ObjectId('61eb83a7c144dcdaae9067cc'), ObjectId('61eb83a7c144dcdaae9067cd'), ObjectId('61eb83a7c144dcdaae9067ce'), ObjectId('61eb83a7c144dcdaae9067cf'), ObjectId('61eb83a7c144dcdaae9067d0'), ObjectId('61eb83a7c144dcdaae9067d1'), ObjectId('61eb83a7c144dcdaae9067d2'), ObjectId('61eb83a7c144dcdaae9067d3'), ObjectId('61eb83a7c144dcdaae9067d4'), ObjectId('61eb83a7c144dcdaae9067d5'), ObjectId('61eb83a7c144dcdaae9067d6')]

# The insert_many() method returns a InsertManyResult object, which has a property, inserted_ids, that holds the ids of the inserted documents.

Insert Multiple Documents, with Specified IDs
If you do not want MongoDB to assign unique ids for you document, you can specify the _id field when you insert the document(s).

Remember that the values has to be unique. Two documents cannot have the same _id.

In [12]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print a list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# In MongoDB we use the find and findOne methods to find data in a collection.

Just like the SELECT statement is used to find data in a table in a MySQL database.

# Find One
To select data from a collection in MongoDB, we can use the find_one() method.

The find_one() method returns the first occurrence in the selection.

In [13]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

x = mycol.find_one()

print(x)

{'_id': ObjectId('61eb82f7c144dcdaae9067c9'), 'name': 'John', 'address': 'Highway 37'}

# Find All
To select data from a table in MongoDB, we can also use the find() method.

The find() method returns all occurrences in the selection.

The first parameter of the find() method is a query object. In this example we use an empty query object, which selects all documents in the collection.

No parameters in the find() method gives you the same result as SELECT * in MySQL.

In [14]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find():
  print(x)

{'_id': ObjectId('61eb82f7c144dcdaae9067c9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61eb832dc144dcdaae9067ca'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cb'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cc'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cd'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61eb83a7c144dcdaae9067ce'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cf'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [15]:
#Return only the names and addresses, not the _ids:

import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [18]:
# You are not allowed to specify both 0 and 1 values in the same object (except if one of the fields is the _id field). If you specify a field with the value 0, all other fields get the value 1, and vice versa:

# Example
# This example will exclude "address" from the result:

import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('61eb82f7c144dcdaae9067c9'), 'name': 'John'}
{'_id': ObjectId('61eb832dc144dcdaae9067ca'), 'name': 'Peter'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cb'), 'name': 'Amy'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cc'), 'name': 'Hannah'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cd'), 'name': 'Michael'}
{'_id': ObjectId('61eb83a7c144dcdaae9067ce'), 'name': 'Sandy'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cf'), 'name': 'Betty'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d0'), 'name': 'Richard'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d1'), 'name': 'Susan'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d2'), 'name': 'Vicky'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d3'), 'name': 'Ben'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d4'), 'name': 'William'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d5'), 'name': 'Chuck'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d6'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

# Filter the Result
When finding documents in a collection, you can filter the result by using a query object.

The first argument of the find() method is a query object, and is used to limit the search.

In [17]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('61eb83a7c144dcdaae9067d3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

# Advanced Query
To make advanced queries you can use modifiers as values in the query object.

E.g. to find the documents where the "address" field starts with the letter "S" or higher (alphabetically), use the greater than modifier: {"$gt": "S"}:

Example

In [19]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('61eb83a7c144dcdaae9067cd'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [20]:
#To find only the documents where the "address" field starts with the letter "S", use the regular expression {"$regex": "^S"}:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('61eb83a7c144dcdaae9067d0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

# Sort the Result
Use the sort() method to sort the result in ascending or descending order.

The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction).

Example

In [21]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('61eb83a7c144dcdaae9067cb'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cf'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cc'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61eb82f7c144dcdaae9067c9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cd'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61eb832dc144dcdaae9067ca'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61eb83a7c144dcdaae9067ce'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

# Sort Descending
Use the value -1 as the second parameter to sort descending.

sort("name", 1) #ascending
sort("name", -1) #descending

In [22]:
#Sort the result reverse alphabetically by name:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('61eb83a7c144dcdaae9067d4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61eb83a7c144dcdaae9067ce'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61eb832dc144dcdaae9067ca'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cd'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61eb82f7c144dcdaae9067c9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cc'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cf'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61eb83a7c144dcdaae9067d3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61eb83a7c144dcdaae9067cb'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

# Delete Document
To delete one document, we use the delete_one() method.

The first parameter of the delete_one() method is a query object defining which document to delete.

Note: If the query finds more than one document, only the first occurrence is deleted.

In [23]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

# Delete Many Documents
To delete more than one document, use the delete_many() method.

The first parameter of the delete_many() method is a query object defining which documents to delete.

In [24]:
#Delete all documents were the address starts with the letter S:

import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

4  documents deleted.

In [25]:
#Delete All Documents in a Collection
#To delete all documents in a collection, pass an empty query object to the delete_many() method:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

23  documents deleted.

# Delete Collection
You can delete a table, or collection as it is called in MongoDB, by using the drop() method.

In [26]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mycol.drop()
#The drop() method returns true if the collection was dropped successfully, and false if the collection does not exist.

# Update Collection
You can update a record, or document as it is called in MongoDB, by using the update_one() method.

The first parameter of the update_one() method is a query object defining which document to update.

Note: If the query finds more than one record, only the first occurrence is updated.

The second parameter is an object defining the new values of the document.

In [27]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

# Update Many
To update all documents that meets the criteria of the query, use the update_many() method.