# Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [1]:
print("Hello")
print('Hello')

Hello
Hello

# Assign String to a Variable

In [2]:
a = 'hello'
print(a)

hello

## Multiline Strings

In [3]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## Strings are Arrays

### Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.However, Python does not have a character data type, a single character is simply a string with a length of 1.Square brackets can be used to access elements of the strin

In [4]:
#get the character at first position
a = "Hello, World!"
print(a[1])

e

In [5]:
print(a[6])

## Looping Through a String

In [6]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [9]:
for x in "banana":
    print(x[0])

b
a
n
a
n
a

In [7]:
for x in banana:
    print(x)

NameError: name 'banana' is not defined

## String Length

In [10]:
#The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

## Check String

In [11]:
#Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

In [12]:
txt = "the quick fox jump over lazy dog"
print("fox" in txt)

True

## Python - Slicing Strings

### You can return a range of characters by using the slice syntax.

In [13]:
#Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

In [14]:
#Get the characters from position 5 to position 8 (not included):
print(b[5:8])

, W

## Slice From the Start

In [15]:
#Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

## Slice To the End

In [16]:
b = "Hello, World!"
print(b[2:])

llo, World!

## Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [17]:
b = "Hello, World!"
print(b[-5:-2])

orl

## Modify Strings

In [18]:
#The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [19]:
#The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

## Remove Whitespace
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [22]:
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

## Replace String

In [23]:
#The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

## Split String
The split() method returns a list where the text between the specified separator becomes the list items.

In [25]:
#The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

## String Concatenation

In [26]:
#Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [27]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

## String Format

In [28]:
#we cannot combine string and numbers
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

### But we can combine strings and numbers by using the format() method!
The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

In [32]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [33]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [34]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## Escape Character
To insert characters that are illegal in a string, use an escape character.
An escape character is a backslash \ followed by the character you want to insert.
An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [35]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-35-56cdf4283a8e>, line 1)

In [36]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

### \'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

In [39]:
txt1 = 'It\'s alright.'
print(txt1)
txt2 = "This will insert one \\ (backslash)."
print(txt2) 
txt3 = "Hello\nWorld!"
print(txt3) 
txt4 = "Hello\tWorld!"
print(txt4)

It's alright.
This will insert one \ (backslash).
Hello
World!
Hello	World!

## String Methods

### Method	Description
capitalize() Converts the first character to upper case
casefold() ----------------------------------------------	Converts string into lower case
center()----------------------------------------------------	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning