In [1]:
import mysql.connector

In [2]:
db = mysql.connector.connect(
host = "localhost",
username= "root",
password = "")

In [15]:
#MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.
mycursor = db.cursor()
mycursor.execute("CREATE DATABASE sqltest")

InternalError: Unread result found

In [16]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="sqltest"
)

mycursor = mydb.cursor()

In [18]:
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [21]:
mycursor.execute("SHOW TABLES")

In [22]:
for x in mycursor:
    print(x)

('customers',)

In [30]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [ ]:
SELECT * FROM customers;